.stack-work/
.stack-hls-work/
dist-newstyle/
*~
*.hie
*.out
*.log
.gitignore

# ignore the user dhall config file
./webdriver-examples/driver-demo-e2e/config/config.dhall

# Ignore all files in the .profile directory
**/.profile/*

# keep this file to ensure directory is checked in
!**/.profile/.gitkeep

