.stack-work/
.stack-hls-work/
dist-newstyle/
*~
*.hie
*.out
*.log
cabal.project.local


# ignore the user dhall config file
webdriver-precore/test/.config/config.dhall

webdriver-precore/test/DebugConfig.hs
