.stack-work/
.stack-hls-work/
dist-newstyle/
*~
*.hie
*.out
*.log

# Ignore all files in the .profile directory
**/.profile/*

# keep this file to ensure directory is checked in
!**/.profile/.gitkeep

