module DebugConfig (
  debugConfig
) where

import Config
  ( Config (..),
    DemoBrowser (..),
  )

debugConfig :: Config
debugConfig =
  MkConfig
    { browser =
        Firefox
          { headless = False,
            -- profilePath = Just "[YOUR FIREFOX PROFILE PATH HERE]"
            profilePath = None
          },
      logging = True,
      httpUrl = "127.0.0.1",
      httpPort = 4444,
      pauseMS = 2000
    }
