name: Webdriver CI/CD

on:
  push:
    branches:
      - main
    paths:
      - webdriver-*/**

  workflow_dispatch:

    
jobs:
  env-setup:
    runs-on: ubuntu-latest
    outputs:
      buildid: ${{ steps.buildid.outputs.BUILD_ID }}
    steps:
      - name: Create Build Id
        id: buildid
        run: echo "BUILD_ID=$(date +%Y%m%d%H%I%S)" >> $GITHUB_OUTPUT

  build-test:
    runs-on: ubuntu-latest
    needs: env-setup
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ vars.PACKAGE_UPLOAD_USER_NAME }}
          password: ${{ secrets.PACKAGE_UPLOAD_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:

          context: .
          file: Dockerfile
          push: true
          tags: ghcr.io/pyrethrum/ci-test:${{needs.env-setup.outputs.buildid}},ghcr.io/pyrethrum/ci-test:latest
          cache-from: type=registry,ref=ghcr.io/pyrethrum/ci-test:buildcache
          cache-to: type=registry,ref=ghcr.io/pyrethrum/ci-test:buildcache,mode=max
      - name: Test
        run: |
          IMAGE=ghcr.io/pyrethrum/ci-test:${{needs.env-setup.outputs.buildid}}
          docker run $IMAGE bash -c 'bash ./dev/start-geckodriver.sh & cabal test all'
