name: Webdriver CI/CD

on:
  push:
    branches:
      - main
    paths:
      - webdriver-*/**

  workflow_dispatch:

    
jobs:
  env-setup:
    runs-on: ubuntu-latest
    outputs:
      buildid: ${{ steps.buildid.outputs.BUILD_ID }}
    steps:
      - name: Create Build Id
        id: buildid
        run: echo "BUILD_ID=$(date +%Y%m%d%H%I%S)" >> $GITHUB_OUTPUT

  build-test:
    runs-on: ubuntu-latest
    needs: env-setup
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USER_NAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:

          context: .
          file: Dockerfile
          push: true
          tags: theghostjw/webdriver:${{needs.env-setup.outputs.buildid}}
          cache-from: type=registry,ref=theghostjw/webdriver:buildcache
          cache-to: type=registry,ref=theghostjw/webdriver:buildcache,mode=max
      - name: Test
        run: |
          IMAGE=theghostjw/webdriver:${{needs.env-setup.outputs.buildid}} make test
